<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文档管理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-vue.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/simplemde.min.css">
    <link rel="stylesheet" href="css/github-markdown.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>

<div id="main" v-cloak>

    <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-nav-toggle target="nav-collapse"></b-nav-toggle>
        <b-navbar-brand href="/">文档管理</b-navbar-brand>
        <b-collapse is-nav id="nav-collapse">
            <b-nav is-nav-bar>
                <b-nav-item href="/" v-if="hasLogin"><span class="fa fa-file-text-o"> 文档</span></b-nav-item>
                <b-nav-item href="/file.html" v-if="hasLogin"><span class="fa fa-file-word-o"> 文件</span></b-nav-item>
            </b-nav>
            <b-nav is-nav-bar class="ml-auto">
                <b-nav-item right href="/login.html" v-show="!hasLogin">登录</b-nav-item>
                <b-nav-item right href="/register.html" v-show="!hasLogin">注册账号</b-nav-item>
                <b-nav-item-dropdown right v-show="hasLogin">
                    <template slot="button-content">
                        <em>{{user.username}}</em>
                    </template>
                    <b-dropdown-item href="#" @click="logout">退出登录</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-nav>
        </b-collapse>
    </b-navbar>

    <b-container fluid class="mt-3" v-show="hasLogin">
        <b-row align-h="center">
            <b-col cols="11">
                <b-alert :variant="alert.type"
                         :show="alert.countDown"
                         dismissible
                         @dismissed="alert.countDown=0"
                         @dismiss-count-down="countDownChanged">
                    <h6>{{alert.msg}} <br><small>消息将在 {{alert.countDown}} 秒后消失</small></h6>
                </b-alert>
            </b-col>
        </b-row>

        <b-row align-h="center" v-if="showPart == 'projectList'">
            <b-col cols="6">
                <b-button variant="success" @click="showProject">创建项目</b-button>
                <div v-for="project in projects">
                    <hr>
                    <h4><b-link active @click="selectProject(project)" class="card-link">{{project.name}}</b-link></h4>
                    <p>{{project.description}}</p>
                    <p><span class="fa fa-clock-o"> {{project.createAt}}</span></p>
                </div>
                <hr>
            </b-col>
        </b-row>

        <b-row align-h="center" v-if="showPart == 'documents'">
            <b-col cols="3">
                <b-button variant="light" @click="cancelProject"><span class="fa fa-arrow-left"> 返回</span></b-button>
                <b-card class="mt-3">
                    <h4 slot="header">文档目录</h4>
                    <ul>
                        <tree-item v-for="(directory, index) in directoryTree" :model="directory" :id="'directory-' + index"></tree-item>
                        <div class="fa fa-plus" @click="addChild"> 新建</div>
                    </ul>
                </b-card>
            </b-col>

            <b-col cols="8">
                <b-breadcrumb>
                    <b-breadcrumb-item :text="'<b>' + selectedProject.name + '</b>' + (selectedDocument.name != '' ? ' --> ' : '') + selectedDocument.name" active/>
                </b-breadcrumb>
                <div v-show="selectedDocument.id != null">
                    <b-button @click="toggleEditMode">编辑</b-button>
                    <keep-alive>
                        <markdown-editor
                                v-model="selectedDocument.content"
                                preview-class="markdown-body"
                                ref="editor"
                                v-show="editMode"></markdown-editor>
                    </keep-alive>
                    <div v-html="documentContent" class="markdown-body" v-show="!editMode"></div>
                </div>
            </b-col>
        </b-row>

        <b-row align-h="center" v-if="showPart == 'showProject'">
            <b-col cols="4">
                <b-button variant="light" @click="cancelProject"><span class="fa fa-arrow-left"> 返回</span></b-button>
                <b-card class="mt-3">
                    <b-form @submit="submitProject">
                        <b-form-group id="project-name"
                                      label="项目名"
                                      lable-for="project-name-input"
                                      description="项目名称是唯一的，不允许重复。">
                            <b-form-input id="project-name-input"
                                          type="text"
                                          v-model="project.name"
                                          required
                                          placeholder="输入项目名称"></b-form-input>
                        </b-form-group>
                        <b-form-group id="project-description"
                                      label="项目描述"
                                      lable-for="project-description-input">
                            <b-form-textarea id="project-description-input"
                                             v-model="project.description"
                                             :rows="3"
                                             :max-rows="6"
                                             placeholder="输入项目描述">
                            </b-form-textarea>
                        </b-form-group>
                        <b-form-group id="project-sort-code"
                                      label="排序码"
                                      lable-for="project-sort-code-input"
                                      description="越小越靠前">
                            <b-form-input id="project-sort-code-input"
                                          type="number"
                                          v-model="project.sortCode"
                                          required
                                          :state="sortCodeState"
                                          placeholder="输入排序码"></b-form-input>
                            <b-form-feedback>排序吗必须大于0</b-form-feedback>
                        </b-form-group>
                        <b-button type="submit" variant="success">提交</b-button>
                        <b-button type="reset" variant="secondary">重置</b-button>
                    </b-form>
                </b-card>
            </b-col>
        </b-row>

        <b-row v-if="showPart == 'editDocument'">
            <b-col>

            </b-col>
        </b-row>
    </b-container>
</div>

<b-modal id="add-modal"
         ref="add_modal"
         title="新建目录"
         button-size="sm"
         no-close-on-backdrop
         no-close-on-esc
         close-title="取消"
         ok-title="提交"
         @ok="submitAdd"
         @cancel="cancelAdd"
         v-cloak>
    <b-alert :variant="alert.type"
             :show="alert.countDown"
             dismissible
             @dismissed="alert.countDown=0"
             @dismiss-count-down="countDownChanged">
        <h6>{{alert.msg}} <br><small>消息将在 {{alert.countDown}} 秒后消失</small></h6>
    </b-alert>
    <b-form>
        <b-form-group id="add-modal-name"
                      label="名称"
                      lable-for="add-modal-name-input">
            <b-form-input id="add-modal-name-input"
                          type="text"
                          v-model="name"
                          required
                          placeholder="输入名称"></b-form-input>
        </b-form-group>
        <b-form-group id="add-modal-sort-code"
                      label="排序码"
                      lable-for="add-modal-sort-code-input"
                      description="越小越靠前">
            <b-form-input id="add-modal-sort-code-input"
                          type="number"
                          v-model="sortCode"
                          required
                          :state="sortCodeState"
                          placeholder="输入排序码"></b-form-input>
            <b-form-feedback>排序吗必须大于0</b-form-feedback>
        </b-form-group>
    </b-form>
</b-modal>


<script type="text/x-template" id="tree-template">
    <li>
        <div :id="id" :class="{bold: isFolder}" @mouseenter="hover = true" @mouseleave="hover = false">
            <span @click="toggle"><span v-if="isFolder" :class="open ? 'fa fa-folder-open' : 'fa fa-folder'"> {{model.name}}</span></span>
            <b-badge variant="light"class="text-primary" v-if="hover" @click="editDirectory(model.id)"><span class="fa fa-pencil"> 编辑</span></b-badge>
            <b-badge variant="light" class="text-danger" v-if="hover" @click="deleteDirectory(model.id)"><span class="fa fa-remove"> 删除</span></b-badge>
        </div>
        <ul v-show="open" v-if="isFolder">
            <tree-item v-for="(directory, index) in model.subDirectories" :model="directory" :id="id + '-' + index"></tree-item>
            <div v-for="document in model.documents" @click="showDoc(document.id)">&nbsp;<span class="fa fa-file-text"> {{document.name}}</span></div>
            <div class="fa fa-plus" @click="addChild(model.id)"> 新建</div>
        </ul>

        <b-modal ref="tree_add_modal"
                 title="新建目录或文档"
                 button-size="sm"
                 no-close-on-backdrop
                 no-close-on-esc
                 close-title="取消"
                 ok-title="提交"
                 @ok="submitAdd"
                 @cancel="cancelAdd"
                 v-cloak>
            <b-alert :variant="alert.type"
                     :show="alert.countDown"
                     dismissible
                     @dismissed="alert.countDown=0"
                     @dismiss-count-down="countDownChanged">
                <h6>{{alert.msg}} <br><small>消息将在 {{alert.countDown}} 秒后消失</small></h6>
            </b-alert>

            <b-form>
                <b-form-group id="add-modal-type"
                              label="类型"
                              label-for="add-modal-type-radio">
                    <b-form-radio id="add-modal-type-radio"
                                  v-model="type"
                                  :options="typeOptions"></b-form-radio>
                </b-form-group>
                <b-form-group id="add-modal-name"
                              label="名称"
                              lable-for="add-modal-name-input">
                    <b-form-input id="add-modal-name-input"
                                  type="text"
                                  v-model="item.name"
                                  required
                                  placeholder="输入名称"></b-form-input>
                </b-form-group>
                <b-form-group id="add-modal-sort-code"
                              label="排序码"
                              lable-for="add-modal-sort-code-input"
                              description="越小越靠前">
                    <b-form-input id="add-modal-sort-code-input"
                                  type="number"
                                  v-model="item.sortCode"
                                  required
                                  :state="addSortCodeState"
                                  placeholder="输入排序码"></b-form-input>
                    <b-form-feedback>排序吗必须大于0</b-form-feedback>
                </b-form-group>
            </b-form>
        </b-modal>

        <b-modal ref="directory_edit_modal"
                 title="编辑目录"
                 button-size="sm"
                 no-close-on-backdrop
                 no-close-on-esc
                 close-title="取消"
                 ok-title="提交"
                 @ok="submitEdit"
                 @cancel="cancelEdit"
                 v-cloak>
            <b-alert :variant="alert.type"
                     :show="alert.countDown"
                     dismissible
                     @dismissed="alert.countDown=0"
                     @dismiss-count-down="countDownChanged">
                <h6>{{alert.msg}} <br><small>消息将在 {{alert.countDown}} 秒后消失</small></h6>
            </b-alert>

            <b-form>
                <b-form-group id="add-modal-name"
                              label="名称"
                              lable-for="add-modal-name-input">
                    <b-form-input id="add-modal-name-input"
                                  type="text"
                                  v-model="directory.name"
                                  required
                                  placeholder="输入名称"></b-form-input>
                </b-form-group>
                <b-form-group id="add-modal-sort-code"
                              label="排序码"
                              lable-for="add-modal-sort-code-input"
                              description="越小越靠前">
                    <b-form-input id="add-modal-sort-code-input"
                                  type="number"
                                  v-model="directory.sortCode"
                                  required
                                  :state="editSortCodeState"
                                  placeholder="输入排序码"></b-form-input>
                    <b-form-feedback>排序吗必须大于0</b-form-feedback>
                </b-form-group>
            </b-form>
        </b-modal>

        <b-modal ref="directory_delete_modal"
                 title="删除目录"
                 button-size="sm"
                 no-close-on-backdrop
                 no-close-on-esc
                 close-title="取消"
                 ok-title="确定"
                 @ok="submitDelete"
                 @cancel="cancelDelete"
                 v-cloak>
            <b-alert :variant="alert.type"
                     :show="alert.countDown"
                     dismissible
                     @dismissed="alert.countDown=0"
                     @dismiss-count-down="countDownChanged">
                <h6>{{alert.msg}} <br><small>消息将在 {{alert.countDown}} 秒后消失</small></h6>
            </b-alert>
            <p class="text-danger"><b>确定删除该目录吗？</b></p>
        </b-modal>
    </li>
</script>

<script type="text/x-template" id="editor-template">
    <div class="markdown-editor">
        <textarea></textarea>
    </div>
</script>

<script src="js/libs/vue.min.js"></script>
<script src="js/libs/polyfill.min.js"></script>
<script src="js/libs/bootstrap-vue.js"></script>
<script src="js/libs/axios.min.js"></script>
<script src="js/libs/vue-cookies.js"></script>
<script src="js/libs/simplemde.min.js"></script>
<script src="js/libs/marked.js"></script>
<script src="js/app.js"></script>
<script src="js/index.js"></script>
</body>
</html>