<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录文档管理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-vue.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body style="background-color: #f9f9f9">

<b-container id="loginForm" v-cloak>
    <b-row align-h="center">
        <b-col lg="4" md="6" sm="8">
            <h1 class="text-center mt-5"><span class="fa fa-book"></span></h1>
            <p class="lead text-center mt-2">登录文档管理</p>
            <b-alert :variant="alert.type"
                     :show="alert.countDown"
                     dismissible
                     @dismissed="alert.countDown=0"
                     @dismiss-count-down="countDownChanged">
                <h6>{{alert.msg}} <br><small>消息将在 {{alert.countDown}} 秒后消失</small></h6>
            </b-alert>
            <b-card>
                <b-form @submit="submitLogin">
                    <b-form-group id="username"
                                  label="用户名"
                                  lable-for="username-input"
                                  description="项目名称是唯一的，不允许重复。">
                        <b-form-input id="username-input"
                                      type="text"
                                      v-model="username"
                                      required
                                      placeholder="输入用户名"></b-form-input>
                    </b-form-group>
                    <b-form-group id="password"
                                  label="密码"
                                  lable-for="password-input"
                                  description="密码不少于3位">
                        <b-form-input id="password-input"
                                      type="password"
                                      v-model="password"
                                      :state="passwordState"
                                      required
                                      placeholder="输入密码"></b-form-input>
                    </b-form-group>
                    <b-button type="submit" variant="success" block>登录</b-button>
                </b-form>
                <b-card-body class="text-center">
                    <a href="/register.html" class="card-link">创建账号</a>
                    <a href="/forgetPassword.html" class="card-link">忘记密码？</a>
                </b-card-body>
                <div slot="footer" class="text-center">
                    <a href="/" class="card-link" class="card-link">返回主页</a>
                    <a href="/feedback.html" class="card-link">用户反馈</a>
                </div>
            </b-card>
        </b-col>
    </b-row>
</b-container>

<script src="js/libs/vue.min.js"></script>
<script src="js/libs/polyfill.min.js"></script>
<script src="js/libs/bootstrap-vue.js"></script>
<script src="js/libs/axios.min.js"></script>
<script src="js/libs/vue-cookies.js"></script>
<script src="js/app.js"></script>
<script src="js/login.js"></script>
</body>
</html>