<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupaits.docs.mapper.DocumentHistoryMapper">
  <resultMap id="BaseResultMap" type="com.yupaits.docs.model.DocumentHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="document_id" jdbcType="INTEGER" property="documentId" />
    <result column="saved_time" jdbcType="TIMESTAMP" property="savedTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yupaits.docs.model.DocumentHistory">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, document_id, saved_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from document_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from document_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yupaits.docs.model.DocumentHistory">
    insert into document_history (id, document_id, saved_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{documentId,jdbcType=INTEGER}, #{savedTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yupaits.docs.model.DocumentHistory">
    insert into document_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="documentId != null">
        document_id,
      </if>
      <if test="savedTime != null">
        saved_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="documentId != null">
        #{documentId,jdbcType=INTEGER},
      </if>
      <if test="savedTime != null">
        #{savedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yupaits.docs.model.DocumentHistory">
    update document_history
    <set>
      <if test="documentId != null">
        document_id = #{documentId,jdbcType=INTEGER},
      </if>
      <if test="savedTime != null">
        saved_time = #{savedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yupaits.docs.model.DocumentHistory">
    update document_history
    set document_id = #{documentId,jdbcType=INTEGER},
      saved_time = #{savedTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yupaits.docs.model.DocumentHistory">
    update document_history
    set document_id = #{documentId,jdbcType=INTEGER},
      saved_time = #{savedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBySelective" parameterType="com.yupaits.docs.model.DocumentHistory" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from document_history
    <where>
      <if test="documentId != null">
        #{documentId,jdbcType=INTEGER}
      </if>
    </where>
    order by saved_time desc
  </select>
</mapper>