.document-active {
    background-color: darkslategrey;
    color: #f7f7f7;
}
.markdown-editor .markdown-body {
    padding: 0.5em
}
.markdown-editor .editor-preview-active, .markdown-editor .editor-preview-active-side {
    display: block;
}