<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页 | 文档管理</title>
    <link rel="icon" href="https://blog.yupaits.com/avatar.jpg"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="margin-top: 6rem;">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">文档管理</h5>
                    <a class="btn btn-primary" href="/ui/index">点击浏览 -></a>
                    <a class="btn btn-light" href="/ui/secured">测试 -></a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>