<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="icon" href="/ui/favicon.ico"/>
    <title>文档管理</title>
    <link href="/ui/css/app.5bebfd6a.css" rel="preload" as="style"/>
    <link href="/ui/css/chunk-vendors.8c3915b1.css" rel="preload" as="style"/>
    <link href="/ui/js/app.f54abfd1.js" rel="preload" as="script"/>
    <link href="/ui/js/chunk-vendors.2536e7ab.js" rel="preload" as="script"/>
    <link href="/ui/css/chunk-vendors.8c3915b1.css" rel="stylesheet"/>
    <link href="/ui/css/app.5bebfd6a.css" rel="stylesheet"/>
</head>
<body>
<noscript><strong>We're sorry but docs-ui doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-cookies@1.5.5/vue-cookies.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    if (window.$cookies.keys().indexOf('accessToken') < 0) {
        window.$cookies.set('accessToken', [[${#authentication.details.tokenValue}]], '120min', '/ui');
    }
    /*]]>*/
</script>
<script src="/ui/js/chunk-vendors.2536e7ab.js"></script>
<script src="/ui/js/app.f54abfd1.js"></script>
</body>
</html>