<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupaits.docs.mapper.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.yupaits.docs.model.Document">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="directory_id" jdbcType="INTEGER" property="directoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort_code" jdbcType="INTEGER" property="sortCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yupaits.docs.model.Document">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, directory_id, name, sort_code
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from document
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from document
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yupaits.docs.model.Document">
    insert into document (id, directory_id, name, 
      sort_code, content)
    values (#{id,jdbcType=INTEGER}, #{directoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{sortCode,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yupaits.docs.model.Document">
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="directoryId != null">
        directory_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sortCode != null">
        sort_code,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="directoryId != null">
        #{directoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null">
        #{sortCode,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yupaits.docs.model.Document">
    update document
    <set>
      <if test="directoryId != null">
        directory_id = #{directoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null">
        sort_code = #{sortCode,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yupaits.docs.model.Document">
    update document
    set directory_id = #{directoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sort_code = #{sortCode,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yupaits.docs.model.Document">
    update document
    set directory_id = #{directoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sort_code = #{sortCode,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBySelective" parameterType="com.yupaits.docs.model.Document" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from document
    <where>
      <if test="directoryId != null">
        directory_id = #{directoryId,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="sortCode != null">
        and sort_code = #{sortCode,jdbcType=INTEGER}
      </if>
    </where>
    order by sord_code
  </select>
</mapper>